<!DOCTYPE html>
<html lang="en">

@using Staff_Survey.ViewModel
@model SurveyViewModel
@{
    int counter=0;
}
<head>

    <title>
         Survey
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=device-width" />



    <style>
        /* Styling the Body element
                                i.e. Color, Font, Alignment */
        body {
            background-color: #A4d6b9;
            font-family: 'B Nazanin';
            text-align: right;
        }

        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            max-width: 85%;
            margin: 30px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
            text-align: right;
        }

        /* Styling form-control Class */
        .form-control {
            margin-bottom: 25px;
            font-family: 'B Nazanin';
            text-align: right;
        }

            /* Styling form-control Label */
            .form-control label {
                display: block;
                margin-bottom: 10px;
            }

            /* Styling form-control input,
                                select, textarea */
            .form-control input,
            .form-control select,
            .form-control textarea {
                border: 1px solid #777;
                border-radius: 2px;
                font-family: inherit;
                padding: 10px;
                display: block;
                width: 95%;
                text-align: right;
            }

                /* Styling form-control Radio
                                button and Checkbox */
                .form-control input[type="radio"],
                .form-control input[type="checkbox"] {
                    display: inline-block;
                    width: auto;
                }

        
        /* Styling Button */
        button {
            background-color: #05c46b;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .a-button {
            background-color: #05c46b;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
            text-align: center;
        }

        .a-button-menu {
            background-color: #D4DCE0;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 98%;
            margin-top: 10px;
            margin-bottom: 50px;
            text-align: center;
            text-decoration: none;
            vartical-align: middle;
        }

        .addbutton {
            background-color: #05c46b;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 50%;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            text-decoration: none;
        }

        .removebutton {
            cursor: pointer;
            color: #C31e17;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 80%;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            text-decoration: none;
        }

        .div-items {
            background-color: #ffffe6;
            font-family: inherit;
            font-size:17px;
            width: 130px;
            height: 130px;
            border: 3px solid green;
            padding: 2px;
            margin: 20px;
            border-radius: 12.5px;
            text-align:center;
            vertical-align:middle;
            float: right;
            display: inline-block;
        }

            .topnav {
              overflow: hidden;
               border: 1px solid green;
              background-color: #bcd4e3;
              text-align:right;
            }

            .topnav a {
              float: right;
              color: #010001;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }

            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }

            .topnav a.active {
              background-color: #04AA6D;
              color: white;
            }
         .username
            {
              float: right;
              color: #010001;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }
    </style>
</head>


<body style="font-family:'B Nazanin';" dir="rtl">


    <h1 style="text-align:center"> نظرسنجی</h1>

    
            <div class="topnav"  dir="rtl">
              <a  href="~/home/index" dir="rtl"> نظرسنجی ها</a>
              <a href="~/survey/CreateSurvey" dir="rtl">مدیر سیستم</a>
               <a href="~/Signout" style="text-decoration:none;color:#db0001">
                 @* <img style="width:30px;height:30px" src="~/Login/logout.png" alt="خروج"> *@
                خروج
                 </a>
              <span class="username"> @User.Claims.Where(c => c.Type == "FullName").FirstOrDefault().Value </span>
            </div>



 @*   <form id="form"  >*@

         <div style="width: 100%; ">
            @foreach (var item in Model.Surveys)
            {
                    counter += 1;
                   @if(counter % 8==1)
                    {
                        <br>
                    }
                    <button class="div-items">
                           <a style="text-decoration: none;" href="~/home/survey?surveyId=@item.Id"> @item.name </a>  
                    </button>
            }
       
         @*   </div>*@

    </form>

    <!-- Create Form -->


</body>

</html>

<script src="~/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
<script src="~/app-assets/js/persian-datepicker.min.js"></script>
<script src="~/app-assets/vendors/js/core/popper.min.js"></script>
<script src="~/app-assets/vendors/js/core/bootstrap.min.js"></script>
<script src="~/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
<script src="~/app-assets/vendors/js/prism.min.js"></script>
<script src="~/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
<script src="~/app-assets/vendors/js/screenfull.min.js"></script>
<script src="~/app-assets/vendors/js/pace/pace.min.js"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<!-- END PAGE VENDOR JS-->
<!-- BEGIN CONVEX JS-->
<script src="~/app-assets/js/app-sidebar.js"></script>
<script src="~/app-assets/js/notification-sidebar.js"></script>
<script src="~/app-assets/js/customizer.js"></script>
